.hud-container {
  bottom: 50px;
  position: absolute;
  right: 50px;
  z-index: 1;
  width: 20%;
}

.hud-container p {
  color: #39FF14;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
}
