.hud-container {
  bottom: 50px;
  position: absolute;
  right: 50px;
  z-index: 1;
  width: 20%;
}

.hud-container p {
  color: #39FF14;
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px;
}

#sanity {
  -webkit-animation: glow1 1s ease-in-out infinite alternate;
  -moz-animation: glow1 1s ease-in-out infinite alternate;
  animation: glow1 1s ease-in-out infinite alternate;
}

@keyframes glow1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
