.paused {
  position: relative
}

.paused::after {
  background-color: rgba(1, 1, 1, 0.5);
  background-image: url('/assets/images/paused.png');
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  height: 100%;
  padding: 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
