/** RANKS MODAL **/
.stats-modal {
  background-color: rgba(1, 1, 1, 0.8);
  border: 5px solid #ff34b3;
  border-radius: 4px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  left: 0;
  margin: auto;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 10%;
  min-width: 550px;
  width: 30%;
  z-index: 20;
  font-size: 20px;
  font-weight: 900;
}

.stats-modal h1 {
  border-bottom: 5px solid #ff34b3;
  color: #55e7ff;
  font-family: 'Orbitron', sans-serif;
  padding: 20px;
  text-align: center;
}

.stats-item ol {
  list-style: inherit;
}

.stats-item {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.stats-item p {
  color: #39FF14;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.stats-item:hover {
  background-color: rgba(1, 1, 1, 1);
}

.close-modal {
  color: #ff34b3;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
}
