html, body {
  height: 100%;
}

body {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5d96d646847841.586690decaada.gif");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  bottom: 2%;
  color: #2099D8;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: absolute;
}

.splash-container {
  animation: Float 1s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes Float {
  0%, 100% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.start-button {
  background:	#55e7ff;
  border: 2px solid black;
  border-radius: 4px;
  color: #ff34b3;
  cursor: pointer;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 900;
  height: 55px;
  letter-spacing: 2px;
  margin-top: -6px;
  outline: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 110px;
}

.start-button:hover {
  background: #ff34b3;
  color: #55e7ff;
}

#minimap {
  background-color: #111111;
  border: 1px solid #111111;
  border-radius: 4px;
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 10;
}

.hidden {
  display: none;
}

.game-notif {
  position: absolute;
  top: 30%;
  z-index: 10;

  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.player-name-input {
  border: 3px solid #ff34b3;
  border-radius: 4px;
  font-size: 12px;
  margin: 25px 0;
  padding: 10px;
  width: 100%;
}

.player-name-input:focus {
  border: 3px solid #55e7ff;
  outline: none;
}

.splash-container form {
  width: 50%;
}

#controls {
  height: 140px;
  margin-top: 50px;
  margin-bottom: -80px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: 'Orbitron', sans-serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Orbitron', sans-serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Orbitron', sans-serif;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Orbitron', sans-serif;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Orbitron', sans-serif;
}
::placeholder { /* Backup, most browsers support this now */
  font-family: 'Orbitron', sans-serif;
}
