html, body {
  height: 100%;
}

body {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5d96d646847841.586690decaada.gif");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  bottom: 2%;
  color: #2099D8;
  font-size: 18px;
  position: absolute;
}

.splash-container {
  animation: Float 1s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes Float {
  0%, 100% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0;
  }
}

.start-button {
  background:	#55e7ff;
  border: 2px solid black;
  border-radius: 4px;
  color: #ff34b3;
  cursor: pointer;
  font-family: "Arial";
  font-size: 20px;
  font-weight: 900;
  height: 55px;
  letter-spacing: 2px;
  margin-top: 10px;
  outline: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 110px;
}

.start-button:hover {
  background: #ff34b3;
  color: #55e7ff;
}

#minimap {
  background-color: #111111;
  border: 1px solid #111111;
  border-radius: 4px;
  bottom: 10px;
  left: 10px;
  position: absolute;
  z-index: 10;
}

.hidden {
  display: none;
}

.game-notif {
  position: absolute;
  top: 30%;
  z-index: 10;

  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.player-name-input {
  border: 3px solid #02FF01;
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.player-name-input:focus {
  border: 3px solid #FF34B3;
  outline: none;
}
